// ====================================
// COLORS
// ====================================

$primary-colors: (
	900: #220a57,
	800: #351084,
	700: #4c16c0,
	600: #5e1fe5,
	500: #774be7,
	400: #966dee,
	300: #ba9ff4,
	200: #e1d6fa,
	100: #f8f6fe
);

$neutral-colors: (
	900: #2d2c30,
	800: #3f3d43,
	700: #605c66,
	600: #7b7783,
	500: #95919c,
	400: #aca9b1,
	300: #c9c7cc,
	200: #eaeaec,
	100: #fafafa
);

$accent-colors: (
	900: #06371e,
	800: #0a572f,
	700: #10894a,
	600: #17c46b,
	500: #48ea96,
	400: #91f3bf,
	300: #bff7da,
	200: #e8fcf2,
	100: #f6fefa
);

$warning-colors: (
	900: #483d0a,
	800: #6c5c0f,
	700: #9d8615,
	600: #c5a91b,
	500: #e7cd4b,
	400: #eedc81,
	300: #f4e8ae,
	200: #f9f2d2,
	100: #fdfaed
);

$danger-colors: (
	900: #480a0a,
	800: #751010,
	700: #a61717,
	600: #e01f1f,
	500: #e74b4b,
	400: #f08f8f,
	300: #f7c5c5,
	200: #fbe4e4,
	100: #fef6f6
);

// Main colors.
$color-primary: map-get($primary-colors, 600) !default;
$color-accent: map-get($accent-colors, 500) !default;
$color-success: map-get($accent-colors, 600) !default;
$color-danger: map-get($danger-colors, 600) !default;
$color-light-gray: map-get($neutral-colors, 100) !default;
$color-dark-gray: map-get($neutral-colors, 900) !default;
$color-shadow: rgba($color-dark-gray, 0.15) !default;
$color-white: #fff !default;
$color-black: #000 !default;

// Neutral colors.
$color-gray-900: $color-dark-gray;
$color-gray-800: map-get($neutral-colors, 800);
$color-gray-700: map-get($neutral-colors, 700);
$color-gray-600: map-get($neutral-colors, 600);
$color-gray-500: map-get($neutral-colors, 500);
$color-gray-400: map-get($neutral-colors, 400);
$color-gray-300: map-get($neutral-colors, 300);
$color-gray-200: map-get($neutral-colors, 200);
$color-gray-100: map-get($neutral-colors, 100);

/// The main colors used throughout the site. This map can be used to automatically add color classes.
///
/// @type Map
$theme-colors: (
	"primary": $color-primary,
	"accent": $color-accent,
	"success": $color-success,
	"danger": $color-danger,
	"gray-100": $color-light-gray,
	"gray-300": map-get($neutral-colors, 300),
	"gray-500": map-get($neutral-colors, 500),
	"gray-700": map-get($neutral-colors, 700),
	"gray-900": $color-dark-gray
);

// Elements.
$body-background: $color-white;

$text-default-dark: $color-dark-gray;
$text-default-light: $color-white;

$link: $color-primary;
$link-hover: $color-accent;
$link-visited: $link;

$form-border: $color-dark-gray;
