.button,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
	display: inline-block;
}

.button {

	&--next,
	&--previous {
		color: $color-primary;
		font-size: 1.25rem;
		font-weight: 700;

		&:after,
		&:before {
			display: inline-block;
			transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
		}

		&:hover {

			&:after,
			&:before {
				color: $color-accent;
			}
		}
	}

	&--previous {

		&:before {
			content: "\2190";
			margin-right: $sp-quarter;
		}

		&:hover {

			&:before {
				transform: translateX($sp-quarter * -1);
			}
		}
	}

	&--next {
		margin-left: auto;

		&:after {
			content: "\2192";
			margin-left: $sp-quarter;
		}

		&:hover {

			&:after {
				transform: translateX($sp-quarter);
			}
		}
	}
}

.mobile-menu-toggle {

	@include hamburger-button($color-primary);

	margin-left: auto;
	right: $sp-single;
	z-index: z(menu-toggle);

	@include mq-min($tablet-landscape) {
		display: none;
	}

	.menu-open & {

		@include hamburger-button-active($color-primary);
	}
}

.sub-level-toggle {
	background: url(../icons/chevron-down.svg);
	height: 1rem;
	position: absolute;
	right: 0;
	top: rem(5);
	width: 1rem;

	@include mq-min($tablet-landscape) {
		display: none;
	}
}
