// ====================================
// COLORS
// ====================================

// Descriptive colors.
$marjorelle-blue: #7341f1;
$shamrock: #55ee9e;

$black-russian: #252428;
$ebony: #323036;
$gun-powder: #4b4950;
$jumbo: #7d7985;
$gray-suit: #97949e;
$concrete: #f2f2f3;

$white: #fff;
$black: #000;

// Utility colors.
$apple: #54a236;
$well-read: #b13134;
$tacha: #dbc15b;

// Main colors.
$color-primary: $marjorelle-blue !default;
$color-accent: $shamrock !default;
$color-success: $apple !default;
$color-danger: $well-read !default;
$color-light-gray: $concrete !default;
$color-dark-gray: $ebony !default;
$color-shadow: rgba($ebony, 0.15);

/// The main colors used throughout the site. This map can be used to automatically add color classes.
///
/// @type Map
$theme-colors: (
	"primary": $color-primary,
	"accent": $color-accent,
	"success": $color-success,
	"danger": $color-danger,
	"light-gray": $color-light-gray,
	"dark-gray": $color-dark-gray,
	"shadow": $color-shadow
);

/// The used within the content editor (editor-palette). This map can be used to automatically add color classes.
///
/// @type Map
$editor-palette: (
	"marjorelle-blue": $marjorelle-blue,
	"shamrock": $shamrock,
	"black-russian": $black-russian,
	"gun-powder": $gun-powder,
	"gray-suit": $gray-suit,
	"white": $white
);

// Elements.
$body-background: $white;

$text-default-dark: $black-russian;
$text-default-light: $white;

$form-border: $gray-suit;

$link: $color-primary;
$link-hover: $color-accent;
$link-visited: $link;

// ====================================
// TYPOGRAPHY
// ====================================

$font-family-sans-serif: "Karla", sans-serif !default;
$font-family-monospace: "Inconsolata", monospace !default;

/// Set the `body` font family.
///
/// @type String
$base-font-family: $font-family-sans-serif;

/// Set the base (`root`) font size for the project. This should be unitless!
///
/// @type Number
$base-font-size: 18 !default;

/// Set the base line height for the project. This value should be unitless and represent the pixel equivalent.
///
/// @type Number
$base-line-height: 29 !default;

/// Set the base font weight for the project.
///
/// @type {Number|String}
$base-font-weight: 400 !default;

// ====================================
// SIZES
// ====================================

/// Set the max width of the site.
///
/// @type Number
$site-width: rem(1600);

/// Set the width of the site's content.
///
/// @type Number
$content-width: rem(1050);

/// Set the width of the site's [optional] sidebar.
///
/// @type Number
$sidebar-width: rem(300);

/// Set the width of the page content.
///
/// @type Number
$page-content-width: rem(660);

// Spacing
$sp-quarter: 0.25rem;
$sp-half: 0.5rem;
$sp-single: 1rem;
$sp-single-half: 1.5rem;
$sp-double: 2rem;
$sp-triple: 3rem;

// ====================================
// BREAKPOINTS
// ====================================

/// Breakpoints - add more as needed.
///
/// @type Number
/// @link https://medium.freecodecamp.com/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862#.or3duno2h
$tablet-portrait: 600px;
$tablet-landscape: 900px;
$desktop: 1200px;
$desktop-xl: 1800px;

// ====================================
// Z-INDEX
// ====================================

/// Keep your sanity while managing your z-indeces.
///
/// @type Map
/// @link https://github.com/minamarkham/sassy-starter/blob/master/src/scss/utilities/_config.scss#L39
$z-index: (
	mobile-menu-full-screen: -10,
	default: 1,
	social-links: 1,
	menu-screen: 2,
	main-navigation: 3,
	heading: 3,
	menu-toggle: 4,
	sub-menu: 5
);

// ====================================
// Social Icons
// ====================================
$social-links: (
	behance: "behance-square",
	blogger: "blogger",
	dribbble: "dribbble-square",
	facebook: "facebook-square",
	flickr: "flickr",
	github: "github-square",
	google: "google-plus-square",
	hacker-news: "hacker-news-square",
	instagram: "instagram",
	kickstarter: "kickstarter",
	linkedin: "linkedin",
	pinterest: "pinterest-square",
	reddit: "reddit-square",
	snapchat: "snapchat-square",
	twitter: "twitter-square",
	vimeo: "vimeo-square",
	youtube: "youtube-square"
);

// ====================================
// TRANSITIONS
// ====================================
$transition-transform: transform 0.3s ease-in-out;
$transition-z-index: z-index 0.3s ease-in-out;
$transition-opacity: opacity 0.3s ease-in-out;
$transition-color: color 0.3s ease-in-out;
