// Aurora Utilities
@import "aurora-utilities";

// Theme utilities.
@import "utilities/background-icon";

// Theme config
@import "config";

// Base
@import "base/base";
@import "base/wp-classes";

// Modules
@import "module/section-title";

// Block styles
@import "module/blocks/wp-block-separator";
@import "module/blocks/wp-block-carrieforde-blocks";
@import "module/blocks/wp-block-carrieforde-blocks-grid-list";
@import "module/blocks/wp-block-carrieforde-blocks-hero-heading";

.editor-post-title__block .editor-post-title__input {
	font-family: $base-font-family !important;
}

// Main column width
.wp-block {
	max-width: $page-content-width;
}

// Width of "wide" blocks
.wp-block[data-align="wide"] {
	max-width: $content-width;
}

// Width of "full-wide" blocks
.wp-block[data-align="full"] {
	max-width: none;
}
