.wp-block-carrieforde-blocks-grid-list {
	display: block !important;

	ol {
		counter-reset: ordered-list;
		display: grid;
		grid-gap: 2rem 3rem;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		list-style: none;
		padding-left: 0.5rem;
	}

	li {
		margin-left: 1.5em;

		&:before {
			color: #7341f1;
			content: counter(ordered-list, decimal-leading-zero);
			counter-increment: ordered-list;
			float: left;
			font-size: 1.33333em;
			font-weight: 700;
			margin-left: -1.5em;
		}
	}

	strong {
		font-size: 1.33333em;
	}
}

