.wp-block-carrieforde-blocks {
	padding-bottom: $sp-triple;

	&__wrapper {
		margin: 0 auto;
		max-width: 100%;
		padding: 0 $sp-double * 2 0 $sp-triple;
		width: $content-width;

		@include mq-min($tablet-landscape) {
			padding: 0 5rem 0 4rem;
		}

		@include mq-min(1100px) {
			padding: 0 $sp-double;
		}

		@include mq-min($desktop) {
			padding: 0;
		}
	}
}
