$header-height: rem(-50) + $sp-double * -2;

.wp-block-carrieforde-blocks-hero-heading {
	clip-path: polygon(0 100%, 0% 0%, 100% 0%, 100% 90%);
	font-size: 1.25rem;
	margin-bottom: $sp-double;
	padding-bottom: 4rem;
	padding-top: $header-height * -1 + $sp-double;

	@include mq-min($tablet-portrait) {
		font-size: 1.5rem;
		padding-bottom: 5rem;
	}

	@include mq-min($tablet-landscape) {
		font-size: 2rem;
		padding-bottom: 6rem;
		padding-top: $header-height * -1 + $sp-triple;
	}

	.wp-block-carrieforde-blocks__title {
		margin-bottom: $sp-single-half;
	}

	p {
		margin-bottom: 1em;
	}

	a {
		border-color: $white;
		color: $white;
	}
}
