.site-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	overflow-x: hidden;
	padding: $sp-double 0;
	position: relative;
	z-index: z(heading);

	@include mq-min($tablet-landscape) {
		overflow: visible;
	}
}
