.project-link {
	border: none;

	&:after {
		content: "\2192" !important;
		display: inline-block;
		font-weight: 700;
		margin-left: $sp-quarter;
		transition: $transition-color, $transition-transform;
	}

	&:hover {

		&:after {
			color: $color-accent;
			transform: translateX($sp-half);
		}
	}

	& + & {
		margin-left: $sp-single;
	}
}
