.post {

	.blog & {

		& + .post {
			margin-top: $sp-double * 2;
		}

		.entry-title a {
			border: none;

			&:hover {
				color: shade($color-primary, 50%);
			}

			&:after {
				content: none;
			}
		}

		.post-thumbnail {
			border: none;

			&:after {
				content: none;
			}
		}

		.comments-link {
			display: inline-block;
			margin-top: $sp-double;
		}
	}

	.entry-meta {
		margin: $sp-double 0;

		a {
			border-bottom: none;

			&:after {
				content: none;
			}
		}
	}

	.entry-footer {
		margin-top: $sp-triple;
	}

	.cat-links,
	.tags-links {
		display: block;
	}

	.tags-links {
		margin-top: $sp-single;

		a {

			@extend .term;

			transition: border-color 0.3s ease-in-out;

			&:hover {
				border-color: $color-accent;

				&:after {
					content: none;
				}
			}
		}
	}
}

.post-thumbnail {
	margin-bottom: $sp-single;
}
